
.body{
    background-image: url('../../../public/signinimage.jpg');
    background-position: center;
    height: 100vh;
    margin-top: -5%;
}

.card{
    background-color:white;
    opacity: 0.9;
    border-radius: 10%;
    position: relative;
    top:95px;
}
